{% extends 'articles/base.html' %}

{% load i18n %}
{% load article_extras %}

{% block title %}{% trans "Articles" %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="table-responsive mt-4">
        <table class="table">
            <thead class="table-white">
                <tr>
                    <th scope="col">{% trans "Title" %}</th>
                    <th scope="col">{% trans "Author" %}</th>
                    <th scope="col">{% trans "Synopsis" %}</th>
                    <th scope="col">{% trans "Created" %}</th>
                    <th scope="col">{% trans "Time Since" %}</th>
                    <th scope="col">{% trans "Detail" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles|dictsortreversed:"created" %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>{{ article.author }}</td>
                    <td>{{ article.synopsis|truncatechars:20 }}</td>
                    <td>{{ article.created }}</td>
                    <td>{{ article.created|time_since_publish }}</td>
                    <td>
                        <a href="{% url 'article_detail' article.pk %}" 
                           class="btn btn-sm text-white" 
                           style="background-color: #5bc2d9;">
                            {% trans "Read" %}
                        </a>                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
